{% extends 'home/base.html' %}
{% load leaflet_tags static %}
{% load staticfiles %}
{% block extra_head %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
  integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
  crossorigin=""/>
  <!-- Material Lite Extension Stylesheet and Javascript -->
  <link rel="stylesheet" type="text/css" href="{% static 'mdl-ext/lib/mdl-ext.css' %}">
  <script type="text/javascript" src="{% static 'mdl-ext/lib/mdl-ext.js' %}"></script>
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
  integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
  crossorigin=""></script>
  <script src='https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.css' rel='stylesheet' />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>
  <style type="text/css">
    #map { position:fixed; top:0; bottom:0; width:100%; }
  </style>
{% endblock %}
{% block nav-bar %}
<div class="mdl-layout__tab-bar mdl-js-ripple-effect" style="background-color: white">
      <a href="/" class="mdl-layout__tab ">For You</a>
      <a href="/stories/" class="mdl-layout__tab ">Stories</a>
      <a href="/homes/" class="mdl-layout__tab is-active">Homes</a>
      <a href="/places/" class="mdl-layout__tab ">Places</a>
</div>
{% endblock %}
{% block homes %}
<main class="mdl-layout__content" style="overflow: hidden;">
  <section class="mdl-layout__tab-panel is-active" style="padding-top: 0px; overflow: hidden;">
      <div class="page-content">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--7-col-desktop" style="overflow: scroll; height: 120%;">
                <h3>Las Vegas Real Estate</h3>
                <!-- Filter by Price -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height" style="margin: 0px 0px 10px 0px">
                  <input class="mdl-textfield__input" id="min-price" name="min-price" value="No Min" type="text" readonly tabIndex="-1" data-val="BLR" />
                  <label class="mdl-textfield__label" for="min-price">Min Price</label>
                  <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="min-price">
                      <li class="mdl-menu__item" data-val="1">$50k</li>
                      <li class="mdl-menu__item" data-val="1">$75k</li>
                      <li class="mdl-menu__item" data-val="1">$100k</li>
                      <li class="mdl-menu__item" data-val="1">$125k</li>
                      <li class="mdl-menu__item" data-val="1">$150k</li>
                      <li class="mdl-menu__item" data-val="1">$175k</li>
                      <li class="mdl-menu__item" data-val="1">$200k</li>
                      <li class="mdl-menu__item" data-val="1">$225k</li>
                      <li class="mdl-menu__item" data-val="1">$250k</li>
                      <li class="mdl-menu__item" data-val="1">$275k</li>
                      <li class="mdl-menu__item" data-val="1">$300k</li>
                      <li class="mdl-menu__item" data-val="1">$325k</li>
                      <li class="mdl-menu__item" data-val="1">$350k</li>
                      <li class="mdl-menu__item" data-val="1">$375k</li>
                      <li class="mdl-menu__item" data-val="1">$400k</li>
                      <li class="mdl-menu__item" data-val="1">$425k</li>
                      <li class="mdl-menu__item" data-val="1">$450k</li>
                      <li class="mdl-menu__item" data-val="1">$475k</li>
                      <li class="mdl-menu__item" data-val="1">$500k</li>
                      <li class="mdl-menu__item" data-val="1">$550k</li>
                      <li class="mdl-menu__item" data-val="1">$600k</li>
                      <li class="mdl-menu__item" data-val="1">$650k</li>
                      <li class="mdl-menu__item" data-val="1">$700k</li>
                      <li class="mdl-menu__item" data-val="1">$750k</li>
                      <li class="mdl-menu__item" data-val="1">$800k</li>
                      <li class="mdl-menu__item" data-val="1">$850k</li>
                      <li class="mdl-menu__item" data-val="1">$900k</li>
                      <li class="mdl-menu__item" data-val="1">$950k</li>
                      <li class="mdl-menu__item" data-val="1">$1M</li>
                      <li class="mdl-menu__item" data-val="1">$1.25M</li>
                      <li class="mdl-menu__item" data-val="1">$1.5M</li>
                      <li class="mdl-menu__item" data-val="1">$1.75M</li>
                      <li class="mdl-menu__item" data-val="1">$2M</li>
                      <li class="mdl-menu__item" data-val="1">$2.25M</li>
                      <li class="mdl-menu__item" data-val="1">$2.5M</li>
                      <li class="mdl-menu__item" data-val="1">$2.75M</li>
                      <li class="mdl-menu__item" data-val="1">$3M</li>
                      <li class="mdl-menu__item" data-val="1">$3.25M</li>
                      <li class="mdl-menu__item" data-val="1">$3.5M</li>
                      <li class="mdl-menu__item" data-val="1">$3.75M</li>
                      <li class="mdl-menu__item" data-val="1">$4M</li>
                      <li class="mdl-menu__item" data-val="1">$4.25M</li>
                      <li class="mdl-menu__item" data-val="1">$4.5M</li>
                      <li class="mdl-menu__item" data-val="1">$4.75M</li>
                      <li class="mdl-menu__item" data-val="1">$5M</li>
                      <li class="mdl-menu__item" data-val="1">$6M</li>
                      <li class="mdl-menu__item" data-val="1">$7M</li>
                      <li class="mdl-menu__item" data-val="1">$8M</li>
                      <li class="mdl-menu__item" data-val="1">$9M</li>
                      <li class="mdl-menu__item" data-val="1">$10M</li>
                  </ul></div>

                <!-- Filter by Number of Beds -->
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height" style="margin: 0px 0px 0px 0px">
                  <input class="mdl-textfield__input" id="min-bedroom" name="min-bedroom" value="No Min" type="text" readonly tabIndex="-1" data-val="BLR" />
                  <label class="mdl-textfield__label" for="bedroom">Min Bedrooms</label>
                  <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="min-bedroom">
                      <li class="mdl-menu__item" data-val="0">Studio</li>
                      <li class="mdl-menu__item" data-val="1">1+ Bedrooms</li>
                      <li class="mdl-menu__item" data-val="2">2+ Bedrooms</li>
                      <li class="mdl-menu__item" data-val="3">3+ Bedrooms</li>
                      <li class="mdl-menu__item" data-val="4">4+ Bedrooms</li>
                  </ul>
                </div>

                <!-- Filter bt Number of Baths -->
               <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fix-height" style="margin: 0px 0px 0px 10px">
                  <input class="mdl-textfield__input" id="min-bathroom" name="min-bathroom" value="No Min" type="text" readonly tabIndex="-1" data-val="BLR" />
                  <label class="mdl-textfield__label" for="min-bathroom">Min Bathrooms</label>
                  <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="min-bathroom">
                      <li class="mdl-menu__item" data-val="1">1+ Bathrooms</li>
                      <li class="mdl-menu__item" data-val="2">2+ Bathrooms</li>
                      <li class="mdl-menu__item" data-val="3">3+ Bathrooms</li>
                      <li class="mdl-menu__item" data-val="4">4+ Bathrooms</li>
                  </ul>
                </div>


                <div class="mdl-grid">
                {% for article in articles %}
                <script type="text/javascript">
                  L.marker([36.0108419 ,115.055792]).addTo(map);
                </script>
                <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col-desktop" style="margin-right: 5px;">
                  <div class="mdl-card__image">
                      <img src="{{baseURL}}thumbnails/full/{{article.thumbnail}}" width="100%" height="25%">
                  </div>
                  <div class="mdl-grid">
                      <div class="mdl-cell--7-col ">
                          <div class="house-address">{{article.title}}</div>
                      </div>
                      <div class="mdl-cell--5-col">
                          <div class="house-price">{{article.description}}</div>
                      </div>
                  </div>
                  <div class="mdl-grid">
                      <div class="mdl-button mdl-button--colored">
                          <i class="fa fa-bed" aria-hidden="true"></i>
                          <span>{{article.numberOfBeds}}</span> 
                      </div>
                      <div class="mdl-button mdl-button--colored">
                          <i class="fa fa-bath" aria-hidden="true"></i> 
                          <span>{{article.numberOfBaths}}</span> 
                      </div>
                      <div class="mdl-button mdl-button--colored">
                          <span>{{article.size}}</span>
                      </div>
                  </div>
                  <div class="mdl-card__actions mdl-card--border">
                  <a href="#image1">
                      <button id="show-dialog" type="button" class="mdl-button">Contact Agent</button>
                  </a>
                  </div>
                </div>
                {% endfor %}
                </div>
          </div>
          <div class="mdl-cell mdl-cell--5-col-desktop right-panel" style="overflow: hidden;">
            {% leaflet_map "map" %}
            <script>
            L.mapbox.accessToken = 'pk.eyJ1IjoiaG9hbmdkb3YiLCJhIjoiY2oyMTR0YzgzMDAxYzMzbmVwcXd5YWQ3eSJ9.pXm0x-xFSQMPLz0HZ2Zv2A';
            var geojson = [
              {% for article in articles %}
                {
                  type: 'Feature',
                  geometry: {
                    type: 'Point',
                    coordinates: [{{article.longtitude}}, {{article.latitude}}]
                  },
                  properties: {
                    'marker-color': '#ff0000',
                    'marker-size': 'medium',
                    'marker-symbol': 'building',
                    'title': '{{article.title}}',
                    'price':'{{article.description}}',
                    'image': '{{baseURL}}thumbnails/full/{{article.thumbnail}}',
                  },
                },
              {% endfor %}
            ];

            var map = L.mapbox.map('map', 'mapbox.light')
              .setView([36.26, -114.88], 11);

            var myLayer = L.mapbox.featureLayer().setGeoJSON(geojson).addTo(map);
            map.scrollWheelZoom.disable();
            </script>
          </div>
        </div>
      </div>
    </section>
  </main>
  {% endblock %}