{% load wagtailcore_tags wagtailuserbar static socialaccount %} 
{% static "" as baseURL %}
{% load leaflet_tags %}
{% block body_class %}{% endblock %} 
{% block content %} 
{# beginning for page content #} 
{% wagtailuserbar 'bottom-left'%} 
{# {{ page.body|richtext }} #}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Vegas Living Life</title>
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">
    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">
    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">
    <link rel="shortcut icon" href="images/favicon.png">
    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">

    <!-- Icon Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Stylesheet  -->
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_blue-deep_purple.min.css" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% leaflet_js %}
    {% leaflet_css %}

    <style>
    #view-source {
        position: fixed;
        display: block;
        right: 0;
        bottom: 0;
        margin-right: 40px;
        margin-bottom: 40px;
        z-index: 900;
    }
    </style>
</head>

<body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
 <!-- Sign Up & Login Light Box -->
<div class="lightbox short-animate" id="image1">
  <div id="login-box">
      <div class="left">
          <h4>Sign up</h4>
          <input type="text" name="username" placeholder="Username" />
          <input type="text" name="email" placeholder="E-mail" />
          <input type="password" name="password" placeholder="Password" />
          <input type="password" name="password2" placeholder="Retype password" />
          <input type="submit" name="signup_submit" value="Sign me up" />
      </div>
      <div class="right" style="margin-right: 0px;">
          <h4 style="color: white">
          Sign in with <br>social network</h4>
          <a href="{% provider_login_url "facebook" method="oauth2" %}">
              <button class="social-signin facebook">Log in with facebook</button>
          </a>
          <a href="{% provider_login_url "twitter" method="oauth2" %}">
              <button class="social-signin twitter">Log in with Twitter</button>
          </a>
          <a href="{% provider_login_url "google" method="oauth2" %}">
              <button class="social-signin google">Log in with Google+</button>
          </a>
      </div>
      <div class="or">OR</div>
  </div>
</div>
<div id="lightbox-controls" class="short-animate">
  <a id="close-lightbox" class="long-animate" href="#!">Close Lightbox</a>
</div>
<!-- Header Layout -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header" style="background-color: white">
    <div class="mdl-layout__header-row" style="height: 160px;">
      <div class="mdl-layout-spacer"></div>
      <img src="https://storage.googleapis.com/vegasliving/Vegas%20Living_White.png" width=250px style="margin-top:25px">
      <div class="mdl-layout-spacer"></div>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect" style="background-color: white">
      <a href="#scroll-tab-1" class="mdl-layout__tab">For You</a>
      <a href="#scroll-tab-2" class="mdl-layout__tab">Stories</a>
      <a href="#scroll-tab-3" class="mdl-layout__tab">Homes</a>
      <a href="#scroll-tab-4" class="mdl-layout__tab">Places</a>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">
    <div class="mdl-grid mdl-grid--no-spacing">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell mdl-cell--10-col mdl-" >
        <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="90" height="90" style="border-radius: 45px; margin-top: 90px"/>
        </div>
        <h4>{{user.first_name}} {{user.last_name}} </h4>
        <div class="mdl-layout-spacer"></div>
    </div>
    </span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Home</a>
        <a class="mdl-navigation__link" href="">Settings</a>
        <a class="mdl-navigation__link" href="">Change Password</a>
        <a class="mdl-navigation__link" href="">Terms</a>
        <a class="mdl-navigation__link" href=" ">Logout</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" style="padding-top: 0px"id="scroll-tab-1" >
      <div class="page-content" style="width: 100%">
        <div class="mdl-grid" id="stories-row">
            <div class="mdl-cell mdl-cell--7-col-desktop">
                <h3>People of Las Vegas</h3>
                <video width="100%" controls>
                    <source src="https://storage.googleapis.com/vegasliving/049501094-las-vegas-blvd-night-1.mp4" type="">
                </video>
            </div>
            <div class="mdl-cell mdl-cell--5-col-desktop">
                <h3>Las Vegas Stories </h3>
                <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col-desktop" style="min-height: 50px; margin-bottom: 5px">
                    <div class="mdl-grid" style="padding: 0px">
                        <div class="mdl-cell mdl-cell--4-col-desktop" style="margin: 0px">
                            <img src="https://storage.googleapis.com/vegasliving/static/thumbnails/full/00060a04e06a0a0436d1c1e9d4951dae8bd4a311.jpg" width="100%" style="padding:0px">
                        </div>
                        <div class="mdl-cell mdl-cell--8-col-desktop">
                            <div class="mdl-card--title-text"> The hot story The hot story The hot story The hot story The hot story The hot story The hot storyThe hot story</div>
                        </div>
                    </div>
                </div>
                <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col-desktop" style="min-height: 50px; margin-bottom: 5px">
                    <div class="mdl-grid" style="padding: 0px">
                        <div class="mdl-cell mdl-cell--4-col-desktop" style="margin: 0px">
                            <img src="https://storage.googleapis.com/vegasliving/static/thumbnails/full/00060a04e06a0a0436d1c1e9d4951dae8bd4a311.jpg" width="100%" style="padding:0px">
                        </div>
                        <div class="mdl-cell mdl-cell--8-col-desktop">
                            <div class="mdl-card--title-text"> The hot story The hot story The hot story The hot story The hot story The hot story The hot storyThe hot story</div>
                        </div>
                    </div>
                </div>
                <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col-desktop" style="min-height: 50px; margin-bottom: 5px">
                    <div class="mdl-grid" style="padding: 0px">
                        <div class="mdl-cell mdl-cell--4-col-desktop" style="margin: 0px">
                            <img src="https://storage.googleapis.com/vegasliving/static/thumbnails/full/00060a04e06a0a0436d1c1e9d4951dae8bd4a311.jpg" width="100%" style="padding:0px">
                        </div>
                        <div class="mdl-cell mdl-cell--8-col-desktop">
                            <div class="mdl-card--title-text"> The hot story The hot story The hot story The hot story The hot story The hot story The hot storyThe hot story</div>
                        </div>
                    </div>
                </div>
                <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col-desktop" style="min-height: 50px; margin-bottom: 5px">
                    <div class="mdl-grid" style="padding: 0px">
                        <div class="mdl-cell mdl-cell--4-col-desktop" style="margin: 0px">
                            <img src="https://storage.googleapis.com/vegasliving/static/thumbnails/full/00060a04e06a0a0436d1c1e9d4951dae8bd4a311.jpg" width="100%" style="padding:0px">
                        </div>
                        <div class="mdl-cell mdl-cell--8-col-desktop">
                            <div class="mdl-card--title-text"> The hot story The hot story The hot story The hot story The hot story The hot story The hot storyThe hot story</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <h3 style="margin-left: 12px">Las Vegas Homes and Real Estate</h3>
        <div class="mdl-grid" id="homes-row">
            {% for article in articles %}
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col-desktop" style="margin-right:5px">
                <div class="mdl-card__image">
                    <img src="{{baseURL}}thumbnails/full/{{article.thumbnail}}" width="100%" height="45%">
                </div>
                <div class="mdl-grid">
                    <div class="mdl-cell--7-col ">
                        <div class="house-address">{{article.title}}</div>
                    </div>
                    <div class="mdl-cell--5-col">
                        <div class="house-price">{{article.description}}</div>
                    </div>
                </div>
                <div class="mdl-grid">
                    <div class="mdl-button mdl-button--colored">
                        <i class="fa fa-bed" aria-hidden="true"></i>
                        <span>3</span> Beds
                    </div>
                    <div class="mdl-button mdl-button--colored">
                        <i class="fa fa-bath" aria-hidden="true"></i> 3 Baths
                    </div>
                    <div class="mdl-button mdl-button--colored">
                        3000 sqft
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                <a href="#image1">
                    <button id="show-dialog" type="button" class="mdl-button">Contact Agent</button>
                </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <h3 style="margin-left: 12px">Cool Places in Las Vegas</h3>
        <div class="mdl-grid" id="places-row">
            <dir class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--3-col-desktop" >
                <div class="place_image">
                    <img src="https://a0.muscache.com/im/pictures/facb17cc-ab67-423c-ae60-87c6ffa96a3f.jpg" width="100%"height="auto">
                </div>
                <div class="place_content">
                   <h5 style="margin: 15px">Taco and Beer</h5>
                   <p style="padding-right: 20px; padding-left: 20px">Creative street-style tacos, craft brews & cocktails in a cool space with quirky decor.</p> 
                </div>
            </dir>
            <dir class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--3-col-desktop" >
                <div class="place_image">
                    <img src="https://a0.muscache.com/im/pictures/facb17cc-ab67-423c-ae60-87c6ffa96a3f.jpg" width="100%"height="auto">
                </div>
                <div class="place_content">
                   <h5 style="margin: 15px">Taco and Beer</h5>
                   <p style="padding-right: 20px; padding-left: 20px">Creative street-style tacos, craft brews & cocktails in a cool space with quirky decor.</p> 
                </div>
            </dir>
            <dir class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--3-col-desktop" >
                <div class="place_image">
                    <img src="https://a0.muscache.com/im/pictures/facb17cc-ab67-423c-ae60-87c6ffa96a3f.jpg" width="100%"height="auto">
                </div>
                <div class="place_content">
                   <h5 style="margin: 15px">Taco and Beer</h5>
                   <p style="padding-right: 20px; padding-left: 20px">Creative street-style tacos, craft brews & cocktails in a cool space with quirky decor.</p> 
                </div>
            </dir>
            <dir class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--3-col-desktop" >
                <div class="place_image">
                    <img src="https://a0.muscache.com/im/pictures/facb17cc-ab67-423c-ae60-87c6ffa96a3f.jpg" width="100%"height="auto">
                </div>
                <div class="place_content">
                   <h5 style="margin: 15px">Taco and Beer</h5>
                   <p style="padding-right: 20px; padding-left: 20px">Creative street-style tacos, craft brews & cocktails in a cool space with quirky decor.</p> 
                </div>
            </dir>
        </div>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-2">
      <div class="page-content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--8-col-desktop">
                <h3>Las Vegas Stories</h3>
                <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col-desktop" style="min-height: 50px; margin-bottom: 10px">
                        <div class="mdl-grid" style="padding: 0px">
                            <div class="mdl-cell mdl-cell--5-col-desktop" style="margin: 0px">
                                <img src="https://storage.googleapis.com/vegasliving/static/thumbnails/full/00060a04e06a0a0436d1c1e9d4951dae8bd4a311.jpg" width="100%" style="padding:0px">
                            </div>
                            <div class="mdl-cell mdl-cell--7-col-desktop">
                                <h4>The article Title</h4>
                                <div class="mdl-card--title-text"> The hot story The hot story The hot story The hot story The hot story The hot story The hot storyThe hot story The hot story The hot story The hot story The hot story The hot story The hot story The hot storyThe hot story</div>
                            </div>
                        </div>
                </div>
                <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col-desktop" style="min-height: 50px; margin-bottom: 10px">
                        <div class="mdl-grid" style="padding: 0px">
                            <div class="mdl-cell mdl-cell--5-col-desktop" style="margin: 0px">
                                <img src="https://storage.googleapis.com/vegasliving/static/thumbnails/full/00060a04e06a0a0436d1c1e9d4951dae8bd4a311.jpg" width="100%" style="padding:0px">
                            </div>
                            <div class="mdl-cell mdl-cell--7-col-desktop">
                                <h4>The article Title</h4>
                                <div class="mdl-card--title-text"> The hot story The hot story The hot story The hot story The hot story The hot story The hot storyThe hot story The hot story The hot story The hot story The hot story The hot story The hot story The hot storyThe hot story</div>
                            </div>
                        </div>
                </div>
                <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col-desktop" style="min-height: 50px; margin-bottom: 10px">
                        <div class="mdl-grid" style="padding: 0px">
                            <div class="mdl-cell mdl-cell--5-col-desktop" style="margin: 0px">
                                <img src="https://storage.googleapis.com/vegasliving/static/thumbnails/full/00060a04e06a0a0436d1c1e9d4951dae8bd4a311.jpg" width="100%" style="padding:0px">
                            </div>
                            <div class="mdl-cell mdl-cell--7-col-desktop">
                                <h4>The article Title</h4>
                                <div class="mdl-card--title-text"> The hot story The hot story The hot story The hot story The hot story The hot story The hot storyThe hot story The hot story The hot story The hot story The hot story The hot story The hot story The hot storyThe hot story</div>
                            </div>
                        </div>
                </div>
                <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col-desktop" style="min-height: 50px; margin-bottom: 10px">
                        <div class="mdl-grid" style="padding: 0px">
                            <div class="mdl-cell mdl-cell--5-col-desktop" style="margin: 0px">
                                <img src="https://storage.googleapis.com/vegasliving/static/thumbnails/full/00060a04e06a0a0436d1c1e9d4951dae8bd4a311.jpg" width="100%" style="padding:0px">
                            </div>
                            <div class="mdl-cell mdl-cell--7-col-desktop">
                                <h4>The article Title</h4>
                                <div class="mdl-card--title-text"> The hot story The hot story The hot story The hot story The hot story The hot story The hot storyThe hot story The hot story The hot story The hot story The hot story The hot story The hot story The hot storyThe hot story</div>
                            </div>
                        </div>
                </div>
                <div class="mdl-card mdl-shadow--2dp mdl-cell--12-col-desktop" style="min-height: 50px; margin-bottom: 10px">
                        <div class="mdl-grid" style="padding: 0px">
                            <div class="mdl-cell mdl-cell--5-col-desktop" style="margin: 0px">
                                <img src="https://storage.googleapis.com/vegasliving/static/thumbnails/full/00060a04e06a0a0436d1c1e9d4951dae8bd4a311.jpg" width="100%" style="padding:0px">
                            </div>
                            <div class="mdl-cell mdl-cell--7-col-desktop">
                                <h4>The article Title</h4>
                                <div class="mdl-card--title-text"> The hot story The hot story The hot story The hot story The hot story The hot story The hot storyThe hot story The hot story The hot story The hot story The hot story The hot story The hot story The hot storyThe hot story</div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-desktop">
                <h3>Las Vegas Real Estate</h3>
                {% for article in articles %}
                <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col-desktop" style="margin-right: 5px">
                    <div class="mdl-card__image">
                        <img src="{{baseURL}}thumbnails/full/{{article.thumbnail}}" width="100%" height="36%">
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell--7-col ">
                            <div class="house-address">{{article.title}}</div>
                        </div>
                        <div class="mdl-cell--5-col">
                            <div class="house-price">{{article.description}}</div>
                        </div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-button mdl-button--colored">
                            <i class="fa fa-bed" aria-hidden="true"></i>
                            <span>3</span> Beds
                        </div>
                        <div class="mdl-button mdl-button--colored">
                            <i class="fa fa-bath" aria-hidden="true"></i> 3 Baths
                        </div>
                        <div class="mdl-button mdl-button--colored">
                            3000 sqft
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                    <a href="#image1">
                        <button id="show-dialog" type="button" class="mdl-button">Contact Agent</button>
                    </a>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
          
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-3" style="padding-top: 0px">
      <div class="page-content">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col">
                <h3>Las Vegas Real Estate</h3>
                <div class="mdl-grid">
                    {% for article in articles %}
                <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col-desktop" style="margin-right: 5px">
                    <div class="mdl-card__image">
                        <img src="{{baseURL}}thumbnails/full/{{article.thumbnail}}" width="100%" height="25%">
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell--7-col ">
                            <div class="house-address">{{article.title}}</div>
                        </div>
                        <div class="mdl-cell--5-col">
                            <div class="house-price">{{article.description}}</div>
                        </div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-button mdl-button--colored">
                            <i class="fa fa-bed" aria-hidden="true"></i>
                            <span>3</span> Beds
                        </div>
                        <div class="mdl-button mdl-button--colored">
                            <i class="fa fa-bath" aria-hidden="true"></i> 3 Baths
                        </div>
                        <div class="mdl-button mdl-button--colored">
                            3000 sqft
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                    <a href="#image1">
                        <button id="show-dialog" type="button" class="mdl-button">Contact Agent</button>
                    </a>
                    </div>
                </div>
                {% endfor %}
                </div>
          </div>
          <div class="mdl-cell mdl-cell--6-col" style="margin-top: 0px">
              <div id="map" style="height: 100%"></div>
              <script>
                  function initMap() {
                    var map = new google.maps.Map(document.getElementById('map'), {
                      center: {lat: 36.085087, lng: -115.150482},
                      zoom: 12
                    });
                    var drawingManager = new google.maps.drawing.DrawingManager({
                      drawingControl: true,
                      drawingControlOptions: {
                        position: google.maps.ControlPosition.TOP_CENTER,
                        drawingModes: ['circle']
                      },
                    });
                    drawingManager.setMap(map);
                    map.event.addListener(drawingManager, 'overlaycomplete', function(polygon){
                        var coordinatesArray = polygon.overlay.getPath().getArray();
                    })
                    google.maps.event.addListener(drawingManager, 'overlaycomplete', function(polygon) { 
                        var coordinatesArray = polygon.overlay.getPath().getArray();
                    });   
                  }
                  document.getElementById("drawingStats").innerHTML = coordinatesArray;
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTLthxG3Gaj12OcGK_EYU6bXXUSqDvcyg&libraries=drawing&callback=initMap" async defer>     
                </script>
                {% leaflet_map "map" %}
          </div>
      </div>
      </div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-4">
      <div class="page-content">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--8-col-desktop">
              <h3>Restaurants in Vegas</h3>
              <div class="mdl-grid" id="places-row">
                <dir class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--4-col-desktop" >
                    <div class="place_image">
                        <img src="https://a0.muscache.com/im/pictures/facb17cc-ab67-423c-ae60-87c6ffa96a3f.jpg" width="100%"height="auto">
                    </div>
                    <div class="place_content">
                       <h5 style="margin: 15px">Taco and Beer</h5>
                       <p style="padding-right: 20px; padding-left: 20px">Creative street-style tacos, craft brews & cocktails in a cool space with quirky decor.</p> 
                    </div>
                </dir>
                <dir class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--4-col-desktop" >
                    <div class="place_image">
                        <img src="https://a0.muscache.com/im/pictures/facb17cc-ab67-423c-ae60-87c6ffa96a3f.jpg" width="100%"height="auto">
                    </div>
                    <div class="place_content">
                       <h5 style="margin: 15px">Taco and Beer</h5>
                       <p style="padding-right: 20px; padding-left: 20px">Creative street-style tacos, craft brews & cocktails in a cool space with quirky decor.</p> 
                    </div>
                </dir>
                <dir class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--4-col-desktop" >
                    <div class="place_image">
                        <img src="https://a0.muscache.com/im/pictures/facb17cc-ab67-423c-ae60-87c6ffa96a3f.jpg" width="100%"height="auto">
                    </div>
                    <div class="place_content">
                       <h5 style="margin: 15px">Taco and Beer</h5>
                       <p style="padding-right: 20px; padding-left: 20px">Creative street-style tacos, craft brews & cocktails in a cool space with quirky decor.</p> 
                    </div>
                </dir>
              </div>
              <h3>Nightlife in Vegas</h3>
              <div class="mdl-grid" id="places-row">
                <dir class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--4-col-desktop" >
                    <div class="place_image">
                        <img src="https://a0.muscache.com/im/pictures/facb17cc-ab67-423c-ae60-87c6ffa96a3f.jpg" width="100%"height="auto">
                    </div>
                    <div class="place_content">
                       <h5 style="margin: 15px">Taco and Beer</h5>
                       <p style="padding-right: 20px; padding-left: 20px">Creative street-style tacos, craft brews & cocktails in a cool space with quirky decor.</p> 
                    </div>
                </dir>
                <dir class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--4-col-desktop" >
                    <div class="place_image">
                        <img src="https://a0.muscache.com/im/pictures/facb17cc-ab67-423c-ae60-87c6ffa96a3f.jpg" width="100%"height="auto">
                    </div>
                    <div class="place_content">
                       <h5 style="margin: 15px">Taco and Beer</h5>
                       <p style="padding-right: 20px; padding-left: 20px">Creative street-style tacos, craft brews & cocktails in a cool space with quirky decor.</p> 
                    </div>
                </dir>
                <dir class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--4-col-desktop" >
                    <div class="place_image">
                        <img src="https://a0.muscache.com/im/pictures/facb17cc-ab67-423c-ae60-87c6ffa96a3f.jpg" width="100%"height="auto">
                    </div>
                    <div class="place_content">
                       <h5 style="margin: 15px">Taco and Beer</h5>
                       <p style="padding-right: 20px; padding-left: 20px">Creative street-style tacos, craft brews & cocktails in a cool space with quirky decor.</p> 
                    </div>
                </dir>
              </div>
              <h3>Shopping Center in Vegas</h3>
              <div class="mdl-grid" id="places-row">
                <dir class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--4-col-desktop" >
                    <div class="place_image">
                        <img src="https://a0.muscache.com/im/pictures/facb17cc-ab67-423c-ae60-87c6ffa96a3f.jpg" width="100%"height="auto">
                    </div>
                    <div class="place_content">
                       <h5 style="margin: 15px">Taco and Beer</h5>
                       <p style="padding-right: 20px; padding-left: 20px">Creative street-style tacos, craft brews & cocktails in a cool space with quirky decor.</p> 
                    </div>
                </dir>
                <dir class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--4-col-desktop" >
                    <div class="place_image">
                        <img src="https://a0.muscache.com/im/pictures/facb17cc-ab67-423c-ae60-87c6ffa96a3f.jpg" width="100%"height="auto">
                    </div>
                    <div class="place_content">
                       <h5 style="margin: 15px">Taco and Beer</h5>
                       <p style="padding-right: 20px; padding-left: 20px">Creative street-style tacos, craft brews & cocktails in a cool space with quirky decor.</p> 
                    </div>
                </dir>
                <dir class="mdl-card mdl-shadow--3dp mdl-cell mdl-cell--4-col-desktop" >
                    <div class="place_image">
                        <img src="https://a0.muscache.com/im/pictures/facb17cc-ab67-423c-ae60-87c6ffa96a3f.jpg" width="100%"height="auto">
                    </div>
                    <div class="place_content">
                       <h5 style="margin: 15px">Taco and Beer</h5>
                       <p style="padding-right: 20px; padding-left: 20px">Creative street-style tacos, craft brews & cocktails in a cool space with quirky decor.</p> 
                    </div>
                </dir>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--4-col-desktop">
              <h3>Las Vegas Real Estate</h3>
              {% for article in articles %}
                <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col-desktop" style="margin-right: 5px">
                    <div class="mdl-card__image">
                        <img src="{{baseURL}}thumbnails/full/{{article.thumbnail}}" width="100%" height="30%">
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-cell--7-col ">
                            <div class="house-address">{{article.title}}</div>
                        </div>
                        <div class="mdl-cell--5-col">
                            <div class="house-price">{{article.description}}</div>
                        </div>
                    </div>
                    <div class="mdl-grid">
                        <div class="mdl-button mdl-button--colored">
                            <i class="fa fa-bed" aria-hidden="true"></i>
                            <span>3</span> Beds
                        </div>
                        <div class="mdl-button mdl-button--colored">
                            <i class="fa fa-bath" aria-hidden="true"></i> 3 Baths
                        </div>
                        <div class="mdl-button mdl-button--colored">
                            3000 sqft
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                    <a href="#image1">
                        <button id="show-dialog" type="button" class="mdl-button">Contact Agent</button>
                    </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        
      </div>
    </section>
  </main>
</div>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
{% endblock %}
{% block footer %}
<footer class="mdl-mega-footer">
<div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell--7-col" style="text-align: center">
        <div class="mdl-grid">
            <div class="mdl-layout-spacer"></div>
            <div class="mdl-cell mdl-cell--1-col-desktop">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" style="background-color: white">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                </button>
            </div>
            <div class="mdl-cell mdl-cell--1-col-desktop">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" style="background-color: white">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </button>
            </div>
            <div class="mdl-cell mdl-cell--1-col-desktop">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" style="background-color: white">
                <i class="fa fa-google" aria-hidden="true"></i>
            </button>
            </div>
            <div class="mdl-layout-spacer"></div>
        </div>
        <div style="color: white">
            <h5>Vegas Living</h5>
            <div><img src="https://storage.googleapis.com/vegasliving/White%20Realty%20360.png" width="75px" style="margin-top: -10px; margin-bottom: 10px"></div>
           <!--  <div class="mdl-grid">
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-cell mdl-cell--2-col">
                    <a href="/" style="text-decoration: none;">For You</a>
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                    <a href="/stories" style="text-decoration: none;">Stories</a>
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                    <a href="/homes" style="text-decoration: none;">Homes</a>
                </div>
                <div class="mdl-cell mdl-cell--2-col">
                    <a href="" style="text-decoration: none;">Places</a>
                </div>
                <div class="mdl-layout-spacer"></div>
            </div>  -->
            <div>An equal opportunity company.</div>
            <div>MLS Internet Data Exchange (IDX) information is provided exclusively for consumers’ personal, non-commercial use and may not be used for any purpose other than to identify prospective properties consumers may be interested in purchasing, and that the data is deemed reliable but is not guaranteed accurate by the MLS. Digital Millennium Copyright Act.</div>
            <div style="margin-top: 20px"><strong>© 2017-2020</strong></div>
            <div style="margin-top: 20px">
            <img src="https://storage.googleapis.com/vegasliving/OrgsLogo.png">
            </div>
        </div>
    </div>
    <div class="mdl-layout-spacer"></div>
</div>
    </div>
    <div class="mdl-cell--3-col">
        Hello
    </div>
</div>
</footer>
{% endblock %}
