{% extends 'home/base.html' %}
{% load leaflet_tags static %}
{% load staticfiles %}

{% block extra_head %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
  integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
  crossorigin=""/>
  <!-- Material Lite Extension Stylesheet and Javascript -->
 <!--  <link rel="stylesheet" type="text/css" href="{% static 'mdl-ext/lib/mdl-ext.css' %}"> -->
  <!-- <script type="text/javascript" src="{% static 'mdl-ext/lib/mdl-ext.js' %}"></script> -->
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
  integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
  crossorigin=""></script>
  <script src='https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.css' rel='stylesheet' />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>
  <style type="text/css">
    #map { position:fixed; top:0; bottom:0; width:100%; }
  </style>
{% endblock %}

{% block nav-bar %}
<div class="mdl-layout__tab-bar mdl-js-ripple-effect" style="background-color: white">
      <a href="/" class="mdl-layout__tab ">For You</a>
      <a href="/stories/" class="mdl-layout__tab ">Stories</a>
      <a href="/homes/" class="mdl-layout__tab is-active">Homes</a>
      <a href="/places/" class="mdl-layout__tab ">Places</a>
</div>
{% endblock %}

{% block your-home %}
<section class="mdl-layout__tab-panel is-active">
    <div class="page-content">
        {% for article in articles %}
        <div id="mdl_card__image" style="
            display:inline-block;
            width:100%;
            height:500px;
            overflow:hidden;
            vertical-align:top">
            <img src="{{baseURL}}{{article.image}}.jpeg" width="100%" height="auto" style="margin-top: -210px">
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--5-col-desktop">
                <h3>{{article.streetNumber}} {{article.streetName}}, <br>
                Las Vegas, NV, {{article.postalCode}}</h3>
                <h6>{{article.publicRemarks}}</h6>
            </div>
            <div class="mdl-cell mdl-cell--3-col-desktop">
                <h2>{{article.listPrice}}</h2>
                <h5>{{article.bedsTotal}}</h5>
                <h5>{{article.bathsTotal}}</h5>
                <h5>{{article.sqftTotal}}</h5>
            </div>
            <div class="mdl-card mdl-shadow--2dp mdl-cell--4-col-desktop" style="margin-top: -80px">
                <div style="background-color: #FFD41F; color: black; font-size: 33px; font-weight:600;text-align: center; width: 100%; height: 70px; padding: 25px"> Talk to An Agent
                </div>
                <form action="/home-{{article.matrixUniqueID}}/" method="post">
                    <div class="mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-cell mdl-cell--10-col">
                        {% csrf_token %}
                        {{form}}
                        <div class="mdl-grid">
                            <div class="mdl-layout-spacer"></div>
                            <input type="submit" value="Contact" class="mdl-js-button mdl-button--raised" style="font-size: 15px; background-color: #273032; color: #FFD41F; width: 100%; height: 42px"/>
                            <div class="mdl-layout-spacer"></div>
                        </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}

<h3>Cool Places Around You</h3>
<div class="mdl-grid">
    <!-- Cool Restaurants -->
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col-desktop" id="suggestedRestaurants" style="margin: 8px 8px 8px 8px">
        {% for suggestedRestaurant in suggestedRestaurants|slice:":1" %}
        <div style="background: linear-gradient(0deg,rgba(243,135,71,0.5),rgba(242,134,71,0.5)), url({{suggestedRestaurant.image}}); background-color: rgba(243, 135, 71, .3); background-size: auto 100%; height: 50%;margin: 1px">
            <div style="color: black; background-color: white; margin: 7px; padding: 5px 7px; text-align: center; box-shadow: 20px">
                <strong>{{suggestedRestaurant.name}}</strong>
                <div>{{suggestedRestaurant.address}}</div>
            </div>
        </div>
        <div>
            <div style="display: table;margin: -20% auto 10px auto;">
                <img src="{{suggestedRestaurant.snippet_image}}" style="border-radius:75px; border: 5px solid #fff; width: 150px; height: auto;">
            </div>
            <div style="display: table;margin: auto;">
                <img src="{{suggestedRestaurant.rating_img_url_small}}" width=200% height=auto>
            </div>
            <div style="margin: 21px 21px; text-align: center;">
                {{suggestedRestaurant.snippet_text}}
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Cool Bars -->
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col-desktop" id="suggestedRestaurants" style="margin: 8px 8px 8px 8px">
        {% for suggestedBar in suggestedBars|slice:":1" %}
        <div style="background: linear-gradient(0deg,rgba(243,135,71,0.3),rgba(242,134,71,0.3)), url({{suggestedBar.image}}); background-color: rgba(243, 135, 71, .3); background-size: auto 100%; height: 50%;margin: 1px">
            <div style="color: white; background-color: #2D3739; margin: 7px; padding: 5px 50px; text-align: center; box-shadow: 20px">
                <strong>{{suggestedBar.name}}</strong>
                <div>{{suggestedBar.address}}</div>
            </div>
        </div>
        <div>
            <div style="display: table;margin: -20% auto 10px auto;">
                <img src="{{suggestedBar.snippet_image}}" style="border-radius:75px; border: 5px solid #fff; width: 150px; height: auto;">
            </div>
            <div style="display: table;margin: auto;">
                <img src="{{suggestedBar.rating_img_url_small}}" width=200% height=auto>
            </div>
            <div style="margin: 21px; text-align: center;">
                {{suggestedBar.snippet_text}}
            </div>
        </div>
        {% endfor %}
    </div>

    
    <!-- Cool Store -->
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col-desktop " id="suggestedRestaurants " style="margin: 8px 8px 8px 8px ">
        {% for suggestedStore in suggestedStores|slice:":1 " %}
        <div style="background-image: url({{suggestedStore.image}}); background-size: auto 100%; height: 50%;margin: 1px ">
            <div style="color: white; background-color: #2D3739; margin: 7px; padding: 5px 7px; text-align: center; box-shadow: 20px ">
                <strong>{{suggestedStore.name}}</strong>
                <div>{{suggestedStore.address}}</div>
            </div>
        </div>
        <div>
            <div style="display: table;margin: -20% auto 10px auto; ">
                <img src="{{suggestedStore.snippet_image}} " style="border-radius:75px; border: 5px solid #fff; width: 150px; height: auto; ">
            </div>
            <div style="display: table;margin: auto; ">
                <img src="{{suggestedStore.rating_img_url_small}} " width=200% height=auto>
            </div>
            <div style="margin: 21px; text-align: center; ">
                {{suggestedStore.snippet_text}}
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Cool Plays -->
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col-desktop" id="suggestedRestaurants" style="margin: 8px 8px 8px 8px" ">
        {% for suggestedPlay in suggestedPlays|slice:":1 " %}
        <div style="background-image: url({{suggestedPlay.image}}); background-size: auto 100%; height: 50%;margin: 1px ">
            <div style="color: black; background-color: white; margin: 7px; padding: 5px 7px; text-align: center; box-shadow: 20px ">
                <strong>{{suggestedPlay.name}}</strong>
                <div>{{suggestedPlay.address}}</div>
            </div>
        </div>
        <div>
            <div style="display: table;margin: -20% auto 10px auto; ">
                <img src="{{suggestedPlay.snippet_image}} " style="border-radius:75px; border: 5px solid #fff; width: 150px; height: auto; ">
            </div>
            <div style="display: table;margin: auto; ">
                <img src="{{suggestedPlay.rating_img_url_small}} " width=200% height=auto>
            </div>
            <div style="margin: 21px; text-align: center; ">
                {{suggestedPlay.snippet_text}}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
        <!-- Similar Listing Around This Listing -->
        <h3>Similar Homes and Real Estate</h3>
        <div class="mdl-grid">
            {% for suggested_article in suggested_articles|slice:":3 " %}
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col-desktop" style="margin-right:5px">
                <div class="mdl-card__image">
                    <img src="{{baseURL}}{{suggested_article.image}}.jpeg" width="100%" height="45%">
                </div>
                <div class="mdl-grid">
                    <div class="mdl-cell--7-col ">
                        <div class="house-address">{{suggested_article.streetNumber}} {{suggested_article.streetName}}, Las Vegas, NV, {{suggested_article.postalCode}}</div>
                    </div>
                    <div class="mdl-cell--5-col">
                        <div class="house-price"> $ {{suggested_article.listPrice}}</div>
                    </div>
                </div>
                <div class="mdl-grid">
                    <div class="mdl-button mdl-button--colored">
                        <i class="fa fa-bed" aria-hidden="true"></i>
                        <span>{{suggested_article.bedsTotal}}</span> 
                    </div>
                    <div class="mdl-button mdl-button--colored">
                        <i class="fa fa-bath" aria-hidden="true"></i> 
                        <span>{{suggested_article.bathsTotal}}</span>
                    </div>
                    <div class="mdl-button mdl-button--colored">
                        {{suggested_article.sqftTotal}} sqft
                    </div>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                <a href="#image1">
                    <button id="show-dialog" type="button" class="mdl-button">Contact Agent</button>
                </a>
                <a href="/home-{{suggested_article.matrixUniqueID}}">
                    <button id="show-house" type="button" class="mdl-button">View Detail</button>
                </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
<footer class="mdl-mega-footer">
    <div class="mdl-grid">
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-cell--7-col" style="text-align: center">
            <div class="mdl-grid">
                <div class="mdl-layout-spacer"></div>
                <div class="mdl-cell mdl-cell--1-col-desktop">
                    <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" style="background-color: white">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="mdl-cell mdl-cell--1-col-desktop">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" style="background-color: white">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                </button>
                </div>
                <div class="mdl-cell mdl-cell--1-col-desktop">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab" style="background-color: white">
                    <i class="fa fa-google" aria-hidden="true"></i>
                </button>
                </div>
                <div class="mdl-layout-spacer"></div>
            </div>
            <div style="color: white">
                <h5>Vegas Living</h5>
                <div><img src="https://storage.googleapis.com/vegasliving/White%20Realty%20360.png" width="75px" style="margin-top: -10px; margin-bottom: 10px"></div>
               <!--  <div class="mdl-grid">
                    <div class="mdl-layout-spacer"></div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <a href="/" style="text-decoration: none;">For You</a>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <a href="/stories" style="text-decoration: none;">Stories</a>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <a href="/homes" style="text-decoration: none;">Homes</a>
                    </div>
                    <div class="mdl-cell mdl-cell--2-col">
                        <a href="" style="text-decoration: none;">Places</a>
                    </div>
                    <div class="mdl-layout-spacer"></div>
                </div>  -->
                <div>An equal opportunity company.</div>
                <div>MLS Internet Data Exchange (IDX) information is provided exclusively for consumers’ personal, non-commercial use and may not be used for any purpose other than to identify prospective properties consumers may be interested in purchasing, and that the data is deemed reliable but is not guaranteed accurate by the MLS. Digital Millennium Copyright Act.</div>
                <div style="margin-top: 20px"><strong>© 2017-2020</strong></div>
                <div style="margin-top: 20px">
                <img src="https://storage.googleapis.com/vegasliving/OrgsLogo.png">
                </div>
            </div>
        </div>
        <div class="mdl-layout-spacer"></div>
    </div>
</footer>
{% endblock %}