{% extends 'home/base.html' %}
{% load leaflet_tags static %}
{% load staticfiles %}
{% block extra_head %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css"
  integrity="sha512-07I2e+7D8p6he1SIM+1twR5TIrhUQn9+I6yjqD53JQjFiMf8EtC93ty0/5vJTZGF8aAocvHYNEDJajGdNx1IsQ=="
  crossorigin=""/>
  <!-- Material Lite Extension Stylesheet and Javascript -->
 <!--  <link rel="stylesheet" type="text/css" href="{% static 'mdl-ext/lib/mdl-ext.css' %}"> -->
  <!-- <script type="text/javascript" src="{% static 'mdl-ext/lib/mdl-ext.js' %}"></script> -->
  <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"
  integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg=="
  crossorigin=""></script>
  <script src='https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.1.0/mapbox.css' rel='stylesheet' />
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>
  <style type="text/css">
    #map { position:fixed; top:0; bottom:0; width:100%; }
  </style>
{% endblock %}
{% block nav-bar %}
<div class="mdl-layout__tab-bar mdl-js-ripple-effect" style="background-color: white">
      <a href="/" class="mdl-layout__tab ">For You</a>
      <a href="/stories/" class="mdl-layout__tab ">Stories</a>
      <a href="/homes/" class="mdl-layout__tab is-active">Homes</a>
      <a href="/places/" class="mdl-layout__tab ">Places</a>
</div>
{% endblock %}
{% block your-home %}
	<main class="mdl-layout__tab-panel is-active" style="">
    {% for article in articles %}
    <div class="page-content">
        <div id="mdl_card__image" style="
			display:inline-block;
    		width:100%;
		    height:500px;
		    overflow:hidden;
		    vertical-align:top">
            <img src="{{baseURL}}thumbnails/full/{{article.thumbnail}}" width="100%" height="auto" style="margin-top: -210px">
        </div>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--5-col-desktop">
                <h3>{{article.title}}</h3>
                <h6>Great Location Ideal for an Investor as Unit is Leased until September 2017. Tucked Away yet Minutes from Community Amenities to include Clubhouse, Tennis, 3-Pools, Spa, Pet Stations & Onsite RV Parking Near Shopping, Freeway, etc. This Two-Bedroom, 1.5 Bath,1 Car Garage with Awesome Slate Covered South Patio Creates a Natural Extension of Living Space with. All Appliances Included Plus Ample Storage. Owners Suite Features Dual Closets.</h6>
            </div>
            <div class="mdl-cell mdl-cell--3-col-desktop">
                <h2>{{article.description}}</h2>
                <h5>{{article.numberOfBeds}}</h5>
                <h5>{{article.numberOfBaths}}</h5>
                <h5>{{article.size}}</h5>
            </div>
            <div class="mdl-card mdl-shadow--2dp mdl-cell--4-col-desktop" style="margin-top: -80px">
                <div style="background-color: #FFD41F; color: black; font-size: 33px; font-weight:600;text-align: center; width: 100%; height: 70px; padding: 25px"> Talk to An Agent
                </div>
                <form action="#">
                    <div class="mdl-grid">
                        <div class="mdl-layout-spacer"></div>
                        <div class="mdl-cell mdl-cell--10-col">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="firstName">
                                <label class="mdl-textfield__label" for="sample2">First Name</label>
                                <span class="mdl-textfield__error">Input is Valid</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="firstName">
                                <label class="mdl-textfield__label" for="sample2">Last Name</label>
                                <span class="mdl-textfield__error">Input is Valid</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="firstName">
                                <label class="mdl-textfield__label" for="sample2">Email</label>
                                <span class="mdl-textfield__error">Input is Valid</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input class="mdl-textfield__input" type="text" id="firstName">
                                <label class="mdl-textfield__label" for="sample2">Phone Number</label>
                                <span class="mdl-textfield__error">Input is Valid</span>
                            </div>
                        </div>
                        <div class="mdl-layout-spacer"></div>
                    </div>
                </form>
            </div>
        </div>
        <h3>Cool Places Around You</h3>

        <div class="mdl-grid">
        	{% for place in places %}
        		<div class="mdl-card mdl-shadow--2dp mdl-cell--4-col-desktop" style="margin:5px">
        		{{place.name}}
        		{{place.rating}}
        		<img src="{{place.rating_img_url_small}}" width=20% height=auto>
        		<img src="{{place.image}}" width=50% height=auto>
        		<img src="{{place.snippet_image}}"width=50% height="auto">
        		</div>
        	{% endfor %}
        </div>
        <h3>Similar Homes and Real Estate</h3>
        <div class="mdl-grid"></div>
        {% endfor %}
    </div>
    </div>
    </div>
</main>


{% endblock %}