Django
Scrapy
scrapy-djangoitem
scrapyd
jsonpath-rw
kombu
Celery
django-celery
future
pillow
wagtail==1.10
mysqlclient
wheel
gunicorn
django-livereload-server
social-auth-app-django
django-dynamic-scraper
django-haystack
psycopg2


