Django>=1.10,<1.11
wagtail>=1.9,<1.10
Scrapy
scrapy-djangoitem
scrapyd
jsonpath-rwy]
django-celery
future
pillow
mysqlclient
wheel==0.29.0
gunicorn==19.6.0
django-livereload-server
social-auth-app-django
django-dynamic-scraper
django-haystack
psycopg2


