{% load static %} 
{% static "" as baseURL %}
{% block body_class %} {% endblock %} 

{% block content %} 
	<head>
		<title>Vegas Living</title>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
		<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
	</head>
	<body>
		<div class="mdl-grid">
			<div class="mdl-layout-spacer"></div>
			
			<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--7-col">
			  <div class="mdl-card__title">
			    <h2 class="mdl-card__title-text">House 1</h2>
			  </div>
			  <div class="mdl-card__supporting-text">
			    Hello There
			  </div>
			  <div class="mdl-card__actions mdl-card--border">
			    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
			      View House
			    </a>
			  </div>
			  <div class="mdl-card__menu">
			    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			      <i class="material-icons">share</i>
			    </button>
			  </div>
			</div>
	
			<div class="mdl-layout-spacer"></div>
		</div>
		<div class="mdl-grid">
			<div class="mdl-layout-spacer"></div>
			{% for listing in listings%}
			<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
				<strong>{{listing.publicAddress}}</strong>
				<strong>{{listing.listPrice}} </strong>
				<strong>{{listing.matrixUniqueID}}</strong>
				<img src="{{baseURL}}{{listing.image}}:0.jpg">
			</div>
			{% endfor %}
		</div>
		<div class="mdl-grid">
			<div class="mdl-layout-spacer"></div>
			{% for article in articles %}
			<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
			  <div class="mdl-card__title">
			    <h2 class="mdl-card__title-text">
			    {{ article.title}}</h2>
			  </div> 
			  <div class="mdl-card__image">
			  	 <img src="{{baseURL}}thumbnails/full/{{article.thumbnail}}">
			  </div>
			  <div class="mdl-card__supporting-text">
			    {{ article.description }}
			  </div>
			  <div class="mdl-card__actions mdl-card--border">
			    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{article.url}}">
			      View House
			    </a>
			  </div>
			  <div class="mdl-card__menu">
			    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
			      <i class="material-icons">share</i>
			    </button>
			  </div>
			</div>
			{% endfor %}
			<div class="mdl-layout-spacer"></div>
		</div>
	</body>
{% endblock %}