/*SEARCH SECTION*/
.home-search {
 color: #fff;
}

input[id=toggle] {
  background-color: #2D3739;
  visibility: none;
}

label[id=toggle] {
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 0px solid #CCC;
  color: #fff;
  background-color: white;
}

#toggle label[id=toggle]:hover {
  color: #000;
}
#toggle label[id=toggle]::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}

#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  background-color: #2D3739;
}
#toggle:checked ~ #expand {
  height: 500px;
}
#toggle:checked ~ label[id=toggle]::before {
  content: "-";
} 