.blog-card-wide.mdl-card {
  width: 100%;
  margin-bottom: 42px
}

.blog-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url("https://getmdl.io/assets/demos/welcome_card.jpg") center / cover;
}
.blog-card-wide > .mdl-card__menu {
  color: #fff;
}