{% extends "base.html" %} 
{% load wagtailcore_tags wagtailimages_tags static %} 
{% block body_class %}{% endblock %} 

{% block content %}
<div class="demo-layout-waterfall mdl-layout mdl-js-layout">
    <header class="mdl-layout__header mdl-layout__header--waterfall">
        <!-- Top row, always visible -->
        <div class="mdl-layout__header-row" style="background-color: #2D3739">
            <!-- Title -->
            <div class="mdl-layout-spacer"></div>
            <span class="mdl-layout-title">Vegas Living</span>
            <div class="mdl-layout-spacer"></div>
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--icon mdl-button--colored" style="background-color: white; width: 42px; height: 42px">
                <span class="material-icons" style="color: black">search</span>
            </button>
        </div>
        <!-- Bottom row, not visible on scroll -->
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Title</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
            <a class="mdl-navigation__link" href="">Link</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
            <div class="mdl-grid" "search-result-content">
                <div class="mdl-cell mdl-cell--8-col">  
                    <div class="mdl-grid">
                        <div class="card">
                          <div class="thumbnail"><img class="left" src="http://cdn2.hubspot.net/hubfs/322787/Mychefcom/images/BLOG/Header-Blog/photo-culinaire-pexels.jpg"/></div>
                          <div class="right">
                            <h1 class="title">Why you Need More Magnesium in Your Daily Diet</h1>
                            <div class="author"><img src="https://randomuser.me/api/portraits/men/95.jpg"/>
                              <h2 class="author">Igor MARTY</h2>
                            </div>
                            <div class="separator"></div>
                            <p>Magnesium is one of the six essential macro-minerals that is required by the body for energy production and synthesis of protein and enzymes. It contributes to the development of bones and most importantly it is responsible for synthesis of your DNA and RNA. A new report that has appeared in theBritish Journal of Cancer, gives you another reason to add more magnesium to your diet...</p>
                          </div>
                          <h5 class="date" style="font-size: 77px; margin-top:-95px; margin-left: 35px">07</h5>
                          <h6 class="month" style="font-size: 21px; margin-top: -20px; margin-left: 35px">January</h6>
                    <!--  <h5 style="font-size: 77px; margin-bottom: 40px">12</h5>
                          <h6 style="font-size: 21px; margin-bottom: 10px">JANUARY</h6> -->
                          <ul style="margin-top: -50px; margin-left: 300px; ">
                            <li><i class="fa fa-eye fa-2x"></i></li>
                            <li><i class="fa fa-heart-o fa-2x"></i></li>
                            <li><i class="fa fa-share-alt fa-2x"></i></li>
                          </ul>
                          <div class="fab"><i class="fa fa-arrow-down fa-3x"></i></div>
                        </div>
                    </div>
                    {% for post in blogpages %} {% with post=post.specific %}
                    <div class="mdl-grid">
                    <div class="blog-card-wide mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                        <div class"mdl-grid">
                            <div class="mdl-card__title mdl-cell mdl-cell--12-col">
                                <h2>
                                <a href="{% pageurl post %}">{{ post.title }}</a>
                            </h2>
                            </div>
                            
                            <div class="mdl-card__supporting-text mdl-cell mdl-cell--12-col">
                                {{ post.body|richtext }}
                            </div>
                                
                            {% with post.main_image as main_image %}
                                {% if main_image %}
                                     <div class="mdl-card__media mdl-cell mdl-cell--12-col">
                                    {% image main_image width-1000 class="full-width" %}
                                    </div>
                                {% endif %}
                            {% endwith %}
                            <div class="mdl-card__actions mdl-card--border mdl-cell mdl-cell--12-col">  
                                <a href="{% pageurl post %}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Read More
                            </a>
                            </div>
                            <div class="mdl-card__menu">
                                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                    <i class="material-icons">share</i>
                                </button>
                            </div>
                        </div>
                    </div>
                    </div>
                    {% endwith %} {% endfor %}
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                     <div class="demo-card-square mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title mdl-card--expand">
                                <h2 class="mdl-card__title-text"></h2>
                            </div>
                            <div class="mdl-grid">
                                <div class="mdl-cell--9-col ">
                                    <div class="house-address">123 Las Vegas Blvd, Las Vegas, NV</div>
                                </div>
                                <div class="mdl-cell--3-col">
                                    <div class="house-price">$888,666</div>
                                </div>
                            </div>
                            <div class="mdl-grid">
                                <div class="mdl-button mdl-button--colored">
                                    <i class="fa fa-bed" aria-hidden="true"></i>
                                    <span>3</span> Beds
                                </div>
                                <div class="mdl-button mdl-button--colored">
                                    <i class="fa fa-bath" aria-hidden="true"></i> 3 Baths
                                </div>
                                <div class="mdl-button mdl-button--colored">
                                    3000 sqft
                                </div>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">View Updates</a>
                            </div>
                        </div>
                        <div class="demo-card-square mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title mdl-card--expand">
                                <h2 class="mdl-card__title-text"></h2>
                            </div>
                            <div class="mdl-grid">
                                <div class="mdl-cell--9-col ">
                                    <div class="house-address">123 Las Vegas Blvd, Las Vegas, NV</div>
                                </div>
                                <div class="mdl-cell--3-col">
                                    <div class="house-price">$888,666</div>
                                </div>
                            </div>
                            <div class="mdl-grid">
                                <div class="mdl-button mdl-button--colored">
                                    <i class="fa fa-bed" aria-hidden="true"></i>
                                    <span>3</span> Beds
                                </div>
                                <div class="mdl-button mdl-button--colored">
                                    <i class="fa fa-bath" aria-hidden="true"></i> 3 Baths
                                </div>
                                <div class="mdl-button mdl-button--colored">
                                    3000 sqft
                                </div>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">View Updates </a>
                            </div>
                        </div>
                        <div class="demo-card-square mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title mdl-card--expand">
                                <h2 class="mdl-card__title-text"></h2>
                            </div>
                            <div class="mdl-grid">
                                <div class="mdl-cell--9-col ">
                                    <div class="house-address">123 Las Vegas Blvd, Las Vegas, NV</div>
                                </div>
                                <div class="mdl-cell--3-col">
                                    <div class="house-price">$888,666</div>
                                </div>
                            </div>
                            <div class="mdl-grid">
                                <div class="mdl-button mdl-button--colored">
                                    <i class="fa fa-bed" aria-hidden="true"></i>
                                    <span>3</span> Beds
                                </div>
                                <div class="mdl-button mdl-button--colored">
                                    <i class="fa fa-bath" aria-hidden="true"></i> 3 Baths
                                </div>
                                <div class="mdl-button mdl-button--colored">
                                    3000 sqft
                                </div>
                            </div>
                            <div class="mdl-card__actions mdl-card--border">
                                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">View Updates</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    <footer class="mdl-mega-footer">
                <div class="mdl-mega-footer--middle-section">
                    <div class="mdl-mega-footer--drop-down-section">
                        <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer--heading">Features</h1>
                        <ul class="mdl-mega-footer--link-list">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Terms</a></li>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Updates</a></li>
                        </ul>
                    </div>
                    <div class="mdl-mega-footer--drop-down-section">
                        <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer--heading">Details</h1>
                        <ul class="mdl-mega-footer--link-list">
                            <li><a href="#">Spec</a></li>
                            <li><a href="#">Tools</a></li>
                            <li><a href="#">Resources</a></li>
                        </ul>
                    </div>
                    <div class="mdl-mega-footer--drop-down-section">
                        <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer--heading">Technology</h1>
                        <ul class="mdl-mega-footer--link-list">
                            <li><a href="#">How it works</a></li>
                            <li><a href="#">Patterns</a></li>
                            <li><a href="#">Usage</a></li>
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Contracts</a></li>
                        </ul>
                    </div>
                    <div class="mdl-mega-footer--drop-down-section">
                        <input class="mdl-mega-footer--heading-checkbox" type="checkbox" checked>
                        <h1 class="mdl-mega-footer--heading">FAQ</h1>
                        <ul class="mdl-mega-footer--link-list">
                            <li><a href="#">Questions</a></li>
                            <li><a href="#">Answers</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="mdl-mega-footer--bottom-section">
                    <div class="mdl-logo">
                        More Information
                    </div>
                    <ul class="mdl-mega-footer--link-list">
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Privacy and Terms</a></li>
                    </ul>
                </div>
            </footer>
    </main>

</div>
{% endblock %}
